.img__local {
    width: 43.75px;
    height: 43.75px;
}

.img__macbook-pro {
    width: 292.15px;
    height: 182.57px;
}
.text__additional {
    font-size: 28 px; 
    color: black; 
    text-transform: uppercase;
    text-align: center;
}

.text__simple-descriptions {
    font-size: 18 px; 
    color: black; 
    text-transform: uppercase;
    text-align: center;
}