@media only screen and (max-width: 480px) {
.img__macbook-pro {
    width: 100%;
}
}

.img__ibm-logo {
    width: 126.68px;
    height: 50.67px;
}

.img__foto-woman {
    width: 42.27px;
    height: 42.27px; 
}

.img__local {
    width: 44.34px;
    height: 41.99px;
}



