.element {
    background-image: url(https://alex-goldys-friendly-guacamole-r99w7jvqjw6hww9-3000.preview.app.github.dev/img/vector.jpg);
    width: 43.75px;
    height: 43.75px;
}
.text__additional {
    font-size: 28 px; 
    color: black; 
    text-transform: uppercase;
    text-align: center;
}